<!DOCTYPE html>
<html>

<head>
  <title>sofmon</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="/main.dart.js"></script>
  <link rel="stylesheet" href="/main.css">
</head>

<body>
  <header>
    <div style="height:400px;background: center no-repeat url(/sofmon.svg)"></div>
    <h1>s o f m o n</h1>
  </header>
  <div class="container">
    <div class="main">
      <div class="content">

        <h2>Wedit</h2>

        <p>(<a href="https://wedit.io">wedit.io</a>) - (<a href="https://github.com/sofmon/wedit">GitHub</a>)</p>

        <p><code>wedit</code> uses static HTML website as template and allows content to be changed through WYSIWYG
          editing using the web browser. All changes are immediate and align with the intended website design.</p>

        <hr>

        <h2>Arke.app (work in progress)</h2>

        <p>(<a href="https://arke.app">arke.app</a>) - (<a href="https://github.com/sofmon/arke.app">GitHub</a>)</p>

        <p>Decentralized, server-less, point to point encrypted messenger app: No servers; No sniffing; No control; No
          influence.</p>

      </div>

    </div>
    <div class="side">
      <div class="content">
        <h2>About</h2>
        <p>Sofmon is an attempt to build set of tools that replace unnecessary dependency on obscure services.</p>
        <p>Tools to be used by your own judgment and nobody else’s.</p>
      </div>
      <div class="content">
        <h2>Contributors</h2>
        <ul>
          <li>Haralampi Staykov - <a href="https://haralampi.com">About</a> - <a href="https://github.com/sofmon/">GitHub</a>
            - <a href="https://linkedin.com/in/haralampi/">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>