
/*
#001b2e
#1d3f58
#537692
#b3cde4
#eef3f9
*/

html {
  scroll-behavior: smooth;
  background-color: #001b2e;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  color: #001b2e;
  background-color: #eef3f9;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  backdrop-filter: blur(24px);
  font-size: 16px;
  background-color: rgba(0, 27, 46, 0.7);
}

nav a {
  color: #eef3f9;
  text-decoration: none;
}

nav a:hover {
  text-shadow: 0 0 5px #eef3f9, 0 0 10px #eef3f9, 0 0 15px #eef3f9, 0 0 20px #eef3f9, 0 0 30px #eef3f9, 0 0 40px #eef3f9, 0 0 50px #eef3f9;
}

ul {
  list-style-type: disc;
  padding: 0;
  margin: 20px;
}

section {
  position: relative;
  align-content: center;
  padding: 5vw;
  background: none;
  z-index: 0;
}

section h1 {
  font-family: "Georgia", serif;
  width: 100%;
  font-size: 46px;
  padding: 0;
  padding-bottom: 2vw;
  margin: 0;
}

section h2 {
  font-family: "Georgia", serif;
  width: 100%;
  font-size: 46px;
  padding: 0;
  padding-bottom: 2vw;
  margin: 0;
  color: #1d3f58;
}

section h3 {
  font-family: "Georgia", serif;
  font-size: 26px;
  padding: 0;
  margin: 0;
}

section > div {
  width: 100%;
  max-width: 600px;
  margin: auto;
  display: flex;
  max-width: 100%;
  justify-content: space-evenly;
}


section > div > div {
  width: 100%;
  max-width: 800px;
  float:left;
  margin: 2vw;
  border-radius: 20px;
  padding: 20px;
}

a {
  color: #001b2e;
  text-decoration: none;
}

a:hover {
  text-shadow: 0 0 5px #001b2e, 0 0 10px #001b2e, 0 0 15px #001b2e, 0 0 20px #001b2e, 0 0 30px #001b2e, 0 0 40px #001b2e, 0 0 50px #001b2e;
}

footer {
  background-color: #001b2e;
  color: #eef3f9;
  padding: 2vw;
  font-size: 14px;
  text-align: center;
}

.accent1 {
  background-color: #3f5d75;
  color: #eef3f9;
}

.accent1 h2 {
  color: #eef3f9;
}

.accent1 a {
  color: #eef3f9;
  text-decoration: none;
}

.accent1 a:hover {
  text-shadow: 0 0 5px #eef3f9, 0 0 10px #eef3f9, 0 0 15px #eef3f9, 0 0 20px #eef3f9, 0 0 30px #eef3f9, 0 0 40px #eef3f9, 0 0 50px #eef3f9;
}


.accent2 {
  background-color: #1d3f58;
  color: #eef3f9;
}

.accent2 h2 {
  color: #eef3f9;
}

.accent2 a {
  color: #eef3f9;
  text-decoration: none;
}

.accent2 a:hover {
  text-shadow: 0 0 5px #eef3f9, 0 0 10px #eef3f9, 0 0 15px #eef3f9, 0 0 20px #eef3f9, 0 0 30px #eef3f9, 0 0 40px #eef3f9, 0 0 50px #eef3f9;
}

.accent3 {
  background-color: #001b2e;
  color: #eef3f9;
}

.accent3 h2 {
  color: #eef3f9;
}

.accent3 a {
  color: #eef3f9;
  text-decoration: none;
}

.accent3 a:hover {
  text-shadow: 0 0 5px #eef3f9, 0 0 10px #eef3f9, 0 0 15px #eef3f9, 0 0 20px #eef3f9, 0 0 30px #eef3f9, 0 0 40px #eef3f9, 0 0 50px #eef3f9;
}

.hero {
  padding: 2vw;
  padding-top: 5vw;
}


@media (max-width: 1000px) {
  section > div {
    display: block;
    max-width: 100%;
    justify-content: space-between;
  } 
  section > div > div{
    width: auto;
    max-width: 600px;
    float: none;
    margin: 50px auto;
  }
  nav {
    display: none;
  }
}