html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  color: #414141;
  background: #ffffff;
}

h1 {
  color: #121212;
  padding: 0;
  margin: 0;
  font-size: 66px;
}

h2, h3, h4 {
  color: #121212;
  padding: 0;
  margin-bottom: 10px;
}

p {
  padding: 0;
  margin-bottom: 10px;
}

a {
  color: #000000;
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0px;
  white-space: nowrap;
  width: 100%;
  background: #FFFFFFAA;
}

nav ul {
  list-style: none;
  margin: 0;
  padding-right: 20px;
  float: right;
}

nav ul li {
  float: left;
  padding: 10px;
}

section {
  /* fallback for older browsers */
  height: 500px;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.product-image {
  margin-top: 20px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 70vw;
  height: 70vh;
}

.center {
  text-align: left;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40vw;
  background: #FFFFFFAA;
}

.right {
  text-align: left;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-10%, -50%);
  transform: translate(-10%, -50%);
  width: 40vw;
  background: #FFFFFFAA;
}

.left {
  text-align: left;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-90%, -50%);
  transform: translate(-90%, -50%);
  width: 40vw;
  background: #FFFFFFAA;
}

.bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
}

.bg-micro1 {
  background-image: url("micro1.svg");
}

.bg-micro2 {
  background-image: url("micro2.svg");
}

.bg-test {
  background-image: url("test.svg");
}

.bg-bizdevops {
  background-image: url("bizdevops.svg");
}

.bg-about {
  background-image: url("about.svg");
}

.bg-contact {
  background-image: url("contact.svg");
}

.bg-logos {
  background-image: url("logos.svg");
}

@media only screen and (max-width: 800px) {
  nav {
    display: none;
  }
  .product-image {
    margin-top: 20px;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 100vw;
    height: 50vh;
  }
  .center, .right, .left {
    text-align: left;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90vw;
    background: #FFFFFFBB;
    padding: 10px;
  }
  .bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center middle;
    background-attachment: fixed;
  }
  .bg-micro1 {
    background-image: url("m-micro1.svg");
  }
  .bg-micro2 {
    background-image: url("m-micro2.svg");
  }
  .bg-test {
    background-image: url("m-test.svg");
  }
  .bg-bizdevops {
    background-image: url("m-bizdevops.svg");
  }
  .bg-about {
    background-image: url("m-about.svg");
  }
  .bg-contact {
    background-image: url("m-contact.svg");
  }
  .bg-logos {
    background-image: url("m-logos.svg");
  }
}

/* scroll arrow */

.arrow {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 90%;
  transform-origin: 50% 90%;
  transform: translate3d(-50%, -90%, 0);
}

.arrow-first {
  animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-second {
  animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before, .arrow:after {
  background: #414141;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
}

.arrow:before {
  transform: rotate(45deg) translateX(-23%);
  transform-origin: top left;
}

.arrow:after {
  transform: rotate(-45deg) translateX(23%);
  transform-origin: top right;
}

@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 88%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}